{% load static %}
{% include 'navbar.html' %}
<div class="slider-area ">
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'assets/img/hero/category.jpg' %}"
    style="background-image: url('assets/img/hero/category.jpg')"
  >
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>{{page_name.heading}}</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="sample-text-area">
<div class="container box_1170">
	{% for page  in page_data %}
<h3 class="text-heading">{% if page.heading %} {{page.heading}} {% else %}  {% endif %}</h3>
<p class="sample-text">
{{page.subcontent}}
</p>
{% endfor %}
</div>
</section>

{% include 'footer.html' %}
