{% load static %} {% include 'navbar.html' %}
<style>
  .razorpay-payment-button {
    display: inline-block;
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #2577fd;
    font-size: 15px;
    font-weight: 700;
    color: #2577fd;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 auto;
    cursor: pointer;
    display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  header,
  footer {
    display: none;
  }

  .razorpay-payment-button:hover {
    background-color: #2577fd;
    color: #fff;
  }
</style>

<img
  onclick="paynow()"
  src="{% static './assets/img/hero/pay.jpg' %}"
  style="
    height: 70vh;

    margin: 5vh auto;
    display: block;
  "
/>

<form
  action="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/confirmation/{{user_id}}"
  method="POST"
>
  {% csrf_token %} 
  <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_dcBBiMbxp0f5NY"
    data-amount="{{amount}}"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Proceed To Pay"
    data-name="V-Shop"
    data-description="Wishes you a happy Shopping"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name="{{name}}"
    data-prefill.email="{{email}}"
    data-theme.color="#2577fd"
  ></script>
  <input type="hidden" custom="Hidden Element" name="hidden" />
</form>

{% include 'footer.html' %}
